{% extends "essay/base.html" %}
{% block page_header %}
<div class="jumbotron" style="background-image: url('https://cn.bing.com/th?id=OHR.RedPlanetDay_ZH-CN4913018041_1920x1080.jpg&rf=LaDigue_1920x1080.jpg&qlt=50')">
    <h2 class="display-3" style="color:aliceblue">程序员博客</h2>
    <p class="lead" style="color:aliceblue">欢迎访问程序员聚合博客，一起学习计算机技术。</p>
</div>
{% endblock page_header %}
{% block content %}
<p><strong>最新文章：</strong></p>
<div class="row">
    {% for es in articles %}
    <div class="col-md-3">
        <div class="card mb-2">
            <img src="https://cn.bing.com/th?id=OHR.RedPlanetDay_ZH-CN4913018041_1920x1080.jpg&rf=LaDigue_1920x1080.jpg&qlt=50" alt="" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">{{ es.title }}</h5>
                <p class="card-text">{{ es.content|truncatechars:20 }}</p>
                <a class="btn btn-primary" href="detail-{{ es.id }}.html">全文>></a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}